<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {{ block "contentPage" . }}
            <p>There is no content... yet</p>
        {{ end }}
    </body>
</html>